- stash(
-   title => l('About us'),
- );

%div{:itemscope :itemtype=>'http://schema.org/Organization'}
    .row
        .col
            %img.binary-logo{:src => url_for('images/pages/about/logo-blue.svg')}
        .col.about-col
            %h1= l('About Us')
            %p!= l('The <span itemprop="brand">[_1]</span> service (formerly known as BetOnMarkets.com) is owned and operated by Binary Ltd. Fully licensed and regulated, [_1] has been providing financial trading to a worldwide audience of over 1,000,000 clients since <span itemprop="foundingdate">1999</span>', stash->{website_name}) . "."

    .row
        .col
            %img
            %h2{:itemprop=>'legalname'}= 'Binary Ltd'
            %p!= l("Binary Ltd, with registered office address situated at <span itemprop='location'>47 Esplanade, St. Helier, Jersey, JE 0BD Channel Islands</span>, is partly owned by the [_1], a diversified mining group focused on the Asian Pacific region and listed on the Hong Kong exchange [_2].", "<a target='_blank' href='http://www.regentpac.com/'>Regent Pacific Group Limited</a>", "<a target='_blank' href='https://www.google.com/finance?q=HKG%3A0575'>(share price)</a>")
        .col
            %a(href='http://www.gov.im/gambling/')
                %img{:src => url_for('images/pages/footer/isle-of-man.png')}
            %h2= 'Binary (IOM) Ltd'
            %p= l('Binary (IOM) Ltd, First Floor, Millennium House, Victoria Road, Douglas, Isle of Man, IM2 4RW. Licenced and regulated by the Gambling Supervision Commission in the Isle of Man. Current online gambling licence granted on the 31 August 2012.')
            %p= l('UK and Manx residents will have their account opened with Binary (IOM) Ltd.')

    .row
        .col
            %a(href='http://www.mga.org.mt/')
                %img.mga-logo{:src => url_for('images/pages/why-us/mga-logo.svg')}
            %h2= 'Binary (Europe) Ltd'
            %p= l('Binary (Europe) Ltd, Mompalao Building, Suite 2, Tower Road, Msida MSD1825, Malta. Licenced and regulated by the Malta Gaming Authority in Malta, licence no MGA/CL2/118/2000.')
            %p= l('European Union residents with the exception of the UK will have their account opened with Binary (Europe) Ltd.')
        .col
            %img{:src => url_for('images/pages/about/costa-rica.png')}
            %h2= 'Binary (C.R.) S.A.'
            %p= l('Binary (C.R.) S.A., registered in Costa Rica.')
            %p= l('Clients from the rest of the world will have their account opened with Binary (C.R.) S.A.')
