!!! 5
- my $lang = stash->{language};
- my $body_id = current_route;
- if(stash('appcache_manifest')) {
- my $manifest = stash->{language} . '_appcache.appcache';
%html{:manifest => url_for($manifest), lang => $lang}
- } else {
%html{lang => $lang}
- }
    = include('layouts/default/head')
    %body#$body_id.$lang
        = include('layouts/default/header')
        #page-wrapper
            = include('layouts/default/topbar')
            #content-holder
                = include('layouts/default/content')
            = include('layouts/default/footer')
