- stash(title => l('Password reset'));

%h1= stash->{title}

%p= l('To reset your password, enter your e-mail address.')
%p= l("We'll then send you an e-mail asking you to verify your identity. If you don't receive the e-mail within a few minutes, please check your junk/spam mail folder.")


%form{:action => url_for('user/lost_password'), :method => 'POST'}
    %fieldset
        %input#lp_email{:type => 'text', :name => 'lp_email' :placeholder => "#{l('Email')}" }
        - if (flash('error') and flash('error')->{lp_email}) {
            %p.errorfield= flash('error')->{lp_email}
        - }
    %button{:name => "submit" :type => "submit"}= l('Reset Password')
