.nav-account
    %a!= l('My&nbsp;Account')
%ul.nav2nd
    %li
        %a.pjaxload{:href=>url_for('/user/portfolio')}= l('Portfolio')
    %li
        %a.pjaxload{:href => url_for('/user/profit_table')}= l('Profit Table')
    %li
        %a.pjaxload{:href=>url_for('/user/statement')}= l('Statement')
    %li
        %a.pjaxload{:href=>url_for('/user/settings')}= l('Settings')
    %li
        %a.pjaxload{:href=>url_for('/user/change_password')}= l('Password')
    %li
        %a.pjaxload{:href=>url_for('/affiliate/signup')}= l('Affiliate')
    %li.authenticate-menu
        %a.pjaxload{:href=>url_for('/cashier/authenticate')}= l('Authenticate')
    %li
        %form#loginid-switch-form{:action => "[% request.url_for('user/loginid_switch?l=EN') %]", :method => "post"}
            %select#client_loginid
    %li
        %a.pjaxload{:href=>url_for('logout')}= l('Log out')
