.nav-account
    %a.pjaxload{:href => url_for('user/my_account')}
        %img{:src => url_for('/images/icons/myaccount.svg')}
        != l('My&nbsp;Account')
%ul.nav2nd
    %li
        %a#view-balances{:href => url_for('/user/balance')}= l('View balances')
    %li
        %a{:href=>url_for('user/portfolio')}= l('Portfolio')
    %li
        %a{:href => url_for('user/profit_table')}= l('Profit Table')
    %li
        %a{:href=>url_for('user/statement')}= l('Statement')
    %li
        %a{:href=>url_for('user/settings')}= l('Settings')
    %li
        %a{:href=>url_for('affiliate/signup')}= l('Affiliate')
    %li.authenticate-menu
        %a{:href=>url_for('cashier/authenticate')}= l('Authenticate')
    %li
        %form#loginid-switch-form{:action => url_for('user/loginid_switch'), :method => 'post'}
            %select#client_loginid
    %li
        %a{:href=>url_for('logout')}= l('Log out')
