%nav
    %ul.nav1st
        %li.submenu
            .nav-trade
                %a.pjaxload{:href => url_for('trade.cgi')}= l('Trade')
        %li.submenu
            = include('layouts/default/nav_cashier')
        %li.submenu
            = include('layouts/default/nav_resources')
        %li.submenu
            = include('layouts/default/nav_help')
        %li.nav-spacer
        %li
            = include('layouts/default/language-select')
        %li.login-container
            %a.button.login-btn{:href=>url_for('login')}= l('Log in')
        %li.submenu.account-container
            = include('layouts/default/account_menu')
