%nav
    %ul.nav1st
        %li.submenu
            .nav-trade
                %a.pjaxload{:href => url_for('trade.cgi')}= l('Trade')
        %li.submenu
            .nav-cashier
                %a.pjaxload{:href => url_for('/cashier/available_payment_methods')}= l('Cashier')
        %li.submenu
            = include('layouts/default/nav_resources')
        %li.submenu
            = include('layouts/default/nav_help')
        %li.nav-spacer
        %li
            = include('layouts/default/language-select')
        %li#client-logged-out
            %a.button.login-btn{:href=>url_for('login')}= l('Log in')
        %li#client-logged-in.submenu
            = include('layouts/default/account_menu')
