%nav
    %ul.nav1st
        %li.submenu
            .nav-trade
                %a{:href => url_for('trade.cgi')}
                    %img{:src => url_for('images/pages/binary-symbol-logo.svg')}
                    = l('Trade')
        %li.submenu
            = include('layouts/default/nav_cashier')
        %li.submenu
            = include('layouts/default/nav_resources')
        %li.submenu
            = include('layouts/default/nav_help')
        %li.nav-spacer
        %li.submenu
            = include('layouts/default/nav_languages')
        %li.login-container
            %a.button.login-btn{:href=>url_for('login')}!= l('Log&nbsp;in')
        %li.submenu.account-container
            = include('layouts/default/account_menu')
