.nav-cashier
    %a.pjaxload{:href => url_for('cashier')}= l('Cashier')
%ul.nav2nd
    %li
        %a.pjaxload{:href=>url_for('cashier/payment_methods')}= l('Payment Methods')
    %li
        %a.pjaxload{:href => stash('deposit_url')}= l('Deposit')
    %li
        %a.pjaxload{:href => stash('withdraw_url')}= l('Withdraw')
    %li
        %a.pjaxload{:href => url_for('cashier/payment_agent_list')}= l('Deposit To Payment Agent')
    %li
        %a.pjaxload{:href => url_for('paymentagent_withdraw.cgi')}= l('Withdraw Via Payment Agent')
    %li
        %a.pjaxload{:href=>url_for('cashier/account_transfer')}= l('Transfer Between Accounts')
