- stash(title => l('Login'));

%form{:action => url_for('/login'), :method => "post"}
    %p
        %img.form-logo{:src => url_for('images/pages/binary-symbol-logo.svg')}

    %h3= l('Sign in to your account')

    - if (flash('error')) {
        %p.errorfield.bigerror= l('Binary.com now requires your email and password to log in. If you have both a real-money and a virtual-money account, please use the password from your real-money account.')
        %p
            %a#lost-password{:href=>url_for('/user/logintrouble')}= l('Login Trouble?')
    - }

    %p
        %input{:name => "email", :type => "email", :placeholder => "#{l('Email')}"}
    - if (flash('error') and flash('error')->{email}) {
        %p.errorfield= flash('error')->{email}
    - }
    %p
        %input{:name => "password", :type => "password", :placeholder => "#{l('Password')}"}
    - if (flash('error') and flash('error')->{password}) {
        %p.errorfield= flash('error')->{password}
    - }
    %p
        %button= l('Sign in')
    %p
        %a{:href=>url_for('/user/lost_password')}= l('Forgot password?')
    %p
        %a{:href=>url_for('/')}= l('Open an Account')
