- stash(title => l('Contact us'));

- my $selected_language = stash->{language};
- my $faq_url = "https://binary.desk.com/customer/" . lc($selected_language) . "/portal/articles";
- my $contact_number = customer_support_telephone();
- my $tollfree_number = customer_support_tollfree();
- my $default_country = customer_support_default_telephone();
- my $default_number = $contact_number->{$default_country};
- my $skype_helpline = customer_support_skype_helpline();
- my $helpline = $skype_helpline->{$selected_language} || $skype_helpline->{'EN'};

.row
    .col
        %img.icon{:src => url_for('images/icons/contact-us.svg')}
    .col.f7
        %h1= l("Contact us")
.row
    .col
        %h2= l("Customer Support")
        %p!= l("You'll find answers to most of your questions on the <a href='[_1]' target='_blank'>FAQ</a> page.", $faq_url)
        %p
            %label= l('Email:')
            %span#cs_contact_eaddress
        %p
            %label= l('Telephone:')
            %span#display_cs_telephone
                = $default_number
            %select#cs_telephone_number
                %option{:disabled => true}= l('Select Country')
                - foreach (sort keys %{ $contact_number }) {
                    - my $number = $contact_number->{$_};
                    - if ($_ eq $default_country) {
                        %option{:value => $number, :selected => true}= $_
                    - } else {
                        %option{:value => $number}= $_
                    - }
                - }
                %option{:disabled => true}= l('== Toll Free ==')
                - foreach (sort keys %{ $tollfree_number }) {
                    - my $tollfree = $tollfree_number->{$_};
                %option{:value => $tollfree}= $_
                - }
        %p
            %label= l('Skype:')
            - $helpline = "skype:" . $helpline . "?call";
            %a{:href => $helpline}
                %img{:src => url_for('images/icons/skype.svg')}
        %p
            %label= l('Live chat:')
            %span{:id => "live-chat-icon"}
    .col
        %h2= l("Company addresses")
        %h3= l('Malta')
        %p= l('Binary (Europe) Ltd, Mompalao Building, Suite 2, Tower Road, Msida MSD1825')
        %h3= l('Isle of Man')
        %p= l('Binary (IOM) Ltd, First Floor, Millennium House, Victoria Road, Douglas, IM2 4RW')
        %h3= l('Malaysia')
        %p= l('Binary Group Services Sdn Bhd, C-2-01 SME Technopreneur Center 2, 63000 Cyberjaya, Selangor Darul Ehsan')
