- stash(title => l('Smart Indices'));

%h1= l('What are Smart Markets?')

%p= l('[_1]’s exclusive Smart Markets are built to key on a particular subset of the world’s markets. With a price derived from related assets, Smart Markets allow traders to take positions on a variety of market action.', stash->{website_name});
%img{:src => url_for('images/pages/smart-indices/smart-indices-1.svg')}

%h2= l("Smart Indices")
%p= l('[_1]’s Smart Indices are created using relevant market data like futures to track the Index. With real time quotes and live charts, availability of short term contracts and extended market hours,  they provide more exciting opportunities to trade on financial markets',stash->{website_name});

%h2= l('Smart FX')
%p= l('[_1]’s Smart FX are smart markets that measure the value of a currency against a basket of major currencies.', stash->{website_name})
%p= ' '
%img{:src => url_for('images/pages/smart-indices/smart-indices-2.svg')}

%p= l('The USD Index is a weighted Index, measuring the US Dollar’s value against a basket of 5 global currencies (EUR, GBP, JPY, CAD, AUD), each weighted by 20%.')
%p= l('The AUD Index is a weighted Index, measuring the Australian Dollar’s value against a basket of 5 global currencies (USD, EUR, GBP, JPY, CAD), each weighted by 20%.')
%p= l('The EUR Index is a weighted Index, measuring the Euro’s value against a basket of 5 global currencies (USD, AUD, GBP, JPY, CAD), each weighted by 20%.')
%p= l('The GBP Index is a weighted Index, measuring the British Pound’s value against a basket of 5 global currencies (USD, EUR, AUD, JPY, CAD), each weighted by 20%.')

%a.button.pjaxload{:href => url_for('trade.cgi?market=smarties')}= l('Trade Smart Markets')
