- stash(title => l('Why Us?'));

%h1= l('Why pay more?')
%p= l('[_1]\'s patented pricing technology allows you to benefit from the same rates of return as traders in the interbank market.', stash->{website_name})

%ul.bullet
    %li= l('Real-time prices, benchmarked against interbank options markets.')
    %li!= l("Returns above 100% on simple <a href='[_1]' class='pjaxload'>rise/fall</a> contracts.", url_for('trade.cgi?market=forex&form_name=risefall'))
    %li!= l("Returns above 1000% on <a href='[_1]' class='pjaxload'>higher/lower</a> and <a href='[_2]' class='pjaxload'>touch/no-touch</a> trades.", url_for('trade.cgi?market=forex&form_name=higherlower'), url_for('trade.cgi?market=forex&form_name=touchnotouch'))
    %li= l('No hidden fees or commissions.')

%h2= l('Trade your way')
%p= l('Why limit yourself? Whatever your market view, [_1] allows you to put your strategy to work and profit from your predictions.', stash->{website_name})

%p.media
    %img{:src => url_for('images/pages/tour/trade-tutorial_1.svg')}

%ul.bullet
    %li= l('Choose a payout from $1 to $100,000.')
    %li= l('Trade all major currencies, indices, stocks, and commodities.')
    %li= l('Choose a duration from 10 seconds to 365 days.')
    %li= l('Choose your own strike.')

%h2= l('You won\'t lose your shirt')

%p= l('With [_1], you\'re in control. Simply fix your upside and your downside before every trade.', stash->{website_name})

%ul.bullet
    %li= l('You risk only your initial stake, and your stake never increases, even in gapping markets.')
    %li= l("You will have no 'margin calls', no 'stops', and no surprises.")
    %li= l('You can close your trade before expiry to lock in profits.')

%h2= l('One simple platform')

%p= l('[_1] offers the world\'s financial markets in a simple, user-friendly platform.', stash->{website_name})

%ul.bullet
    %li= l('Find the right trade for every market condition.')
    %li= l('Execute your trade in seconds.')
    %li= l('Monitor your portfolio in real time.')
    %li= l('Sell back trades at market prices.')

.row
    %img{:src => url_for('images/pages/why-us/trade-direct-value.svg')}
    %img{:src => url_for('images/pages/why-us/trade-opposite-value.svg')}

%h2= l('Your funds are safe')
.row
    .col
        %p= l('With [_1], your money is secure.', stash->{website_name})
        %ul.bullet
            %li= l('We segregate and hold client funds in secure AAA-rated banks.')
            %li= l('We are fully licensed in the British Isles and Malta.')
            %li= l('We have a proven track record since starting in 2000.')
    .col.q
        %img{:src => url_for('images/pages/why-us/authorities.png')}

%h2= l('Go with the leader')
.row
    .col
        %p= l('[_1] is the award-winning industry pioneer in online options trading. We boast:', stash->{website_name})
        %ul.bullet
            %li= l('Over two billion dollars in trades to date.')
            %li= l('First-class client service.')
            %li= l('Multi award-winning trading platform.')
            %li= l('Exclusive binary trading technology.')
    .col.q.media
        %img{:src => url_for('images/pages/why-us/why-us-GBAF-award-2012.svg')}

%p.media
    %a.button.pjaxload{:href => url_for('/')}= l('Open a free account')
