- stash(title => l('Charting'));

%h1= l('Charting')
%p= l('[_1] provides a variety of charts to help you determine what markets to trade on. Try them out.',stash->{website_name})

.row
    .col
        %a.pjaxload{:href => url_for('/charting/application')}
            %img.chart-type-icon{:src => url_for('images/pages/charting/interactive-charts.svg')}
        %p= l('Try our downloadable charting application with an extensive range of indicators.')
        %a.pjaxload.button{:href => url_for('/charting/application')}= l('Java Charts')
    .col
        %a.pjaxload{:href => url_for('/charting/livechart')}
            %img.chart-type-icon{:src => url_for('images/pages/charting/popup-charts.svg')}
        %p= l('This is our \'next generation\' charting tool.')
        %a.pjaxload.button{:href => url_for('/charting/livechart')}= l('Live Charts')
    .col
        %a.pjaxload{:href => '//highcharts.binary.com'}
            %img.chart-type-icon{:src => url_for('images/pages/charting/highcharts.svg')}
        %p= l('It has the best features of our Java and Live charts.')
            %a.pjaxload.button{:href => '//highcharts.binary.com'}= l('HighCharts')
