- stash(
-   title => l('[_1]: Online Trading platform for binary options on Forex, Indices, Commodities and Smart Indices',stash('broker_name')),
-   next_link => '/why-us',
-   createacc => l('Create free account'),
-   emailtext   => l('Enter your email'),
-   passwordstext   => l('Choose a password'),
- );
- my $lang = stash->{language};

.home-container.hero
  .home-body
    %hgroup
      %h2!= l('<i>The Premier Platform for</i>')
      %h1= l('Binary Options Trading')
      %p!= l('<i>Trade 24/7</i>, even on weekends. <i>Customize your trades</i> to meet your needs.')

    %form#open-account{:name => 'oppAccForm', :action => url_for('create_account.cgi'), :method => 'post'}
      %legend= l('Get your free $10k virtual money account')
      %p
        %input{:name => 'Email', :id => 'Email', :type => 'email', :required => true, :placeholder => stash('emailtext')}
        %input#chooseapassword{:name => 'chooseapassword', :type => 'password', :maxlength => '25', :required => true, :placeholder => stash('passwordstext')}
        %input#actype{:type => 'hidden', :name => 'actype', :value => 'virtual'}
        %input{:type => 'hidden', :name => 'l', :value => $lang}
      %p
        %input.inverse{:id => 'btn_registration',:type => 'submit', :value => stash('createacc')}

.home-container.darkish
  .home-body
    %hgroup
      %h1!= l('<i>The Easiest Way</i> to Get Started')
      %h3= l('Trade With The Most Simple, User-Friendly Platform')
    .row
      .col
        %img{ :src => url_for("images/pages/home/trade-tutorial.svg")}
      .col.trade-desc
        %h4= l('All Markets')
        %p= l('Currencies, Stock Indices and Commodities')
        %h4= l('All Market Conditions')
        %p= l('Up/down, Touch/no-touch, Stays In/Goes Out')
        %h4= l('All Durations')
        %p= l('From 10 Seconds To 365 Days')
        %h4= l('All Payouts')
        %p= l('From $1 To $100,000')
        %a.button.pjaxload{:href => url_for('linkto_acopening.cgi?actype=real')}= l('View Trading Platform')

.home-container
  .home-body
    %hgroup
      %h1!= l('Why <i>Choose</i> Us')
    .row
      .col
        %img.iconic{:src => url_for("images/pages/home/icon1.svg")}
        %h3= l('Sharp Prices')
        %p= l('Our patented pricing technology helps you benefit from the same rates of return as traders in the interbank market.')
      .col
        %img.iconic{:src => url_for("images/pages/home/icon3.svg")}
        %h3= l('Trade Your Way')
        %p= l('Whatever your market view, you can always put your strategy to work and profit from your predictions.')
      .col
        %img.iconic{:src => url_for("images/pages/home/icon2.svg")}
        %h3= l('Safe Funds')
        %p= l('With us, your money is secure. We segregate and hold client funds in secure AAA-rated banks.')
      .col
        %img.iconic{:src => url_for("images/pages/home/icon4.svg")}
        %h3= l('Go With the Leader')
        %p= l('Binary.com is the award-winning industry pioneer in online options trading.')

.home-container.darkish
  .home-body
    %hgroup
      %h1!= l('What Our <i>Clients</i> Think of Us?')
    .row
      %blockquote.col
        %p!= l('We have used www.binary.com for the last 8 years and highly recommend binary to all our members worldwide')
        %cite
          %h4= l('Joshua Cavallaro')
          %span= l('Markets And You Trader')
      %blockquote.col
        %p!= l('Binary.com is one of the oldest and trustworthy partners we ever had. We have worked together for many years.')
        %cite
          %h4= l('Andrei Asavei')
          %span= l('Top Binary Options Brokers')

.home-container
  .home-body
    %hgroup
      %h1!= l('<i>Payment</i> Methods')
    %a.pjaxload{:href => url_for('/cashier/available_payment_methods')}
      %img{:src => url_for("images/pages/home/payment-methods.svg")}
    %p{:style => "margin-bottom: -1em")}= l('Hundreds of deposit and withdrawal options.')
